* {
  margin: 0;
}
header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
  margin: 10px;
}

#menu {
  text-align: center;
}

.category {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.item {
  border: solid 2px blueviolet;
  padding: 10px;
}

.item img {
  max-width: 100%;
  height: auto;
}
